{% liquid
  if shop.metaobjects.free_shipping.pengpeng.amount != blank
    assign free_shipping_threshold = shop.metaobjects.free_shipping.pengpeng.amount | times: 100
  else
    # 代码链接和视频教程: https://shopify2006.com/shopify-free-shipping-indicator/
    assign free_shipping_threshold = 30000
  endif
  assign cart_total = cart.total_price
  assign free_shipping_diff = free_shipping_threshold | minus: cart_total
  assign free_shipping_bg_color = shop.metaobjects.free_shipping.pengpeng.color | default: '#fef8e7'
%}
<style>
  .free_shipping {
    background-color: {{ free_shipping_bg_color }};
    color: #00896c;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .not_free_shipping {
    background-color: {{ free_shipping_bg_color }};
    color: #d0104c;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
  }
  .jindutiao-wrapper{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 1.5rem;
    margin-top: -2.5rem;
  }
  .free_shipping_text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 5px;
  }
</style>
<div class="jindutiao-wrapper">
  <p class="free_shipping_text{% if free_shipping_diff > 0 %} not_free_shipping{% else %} free_shipping{% endif %}">
    {% if free_shipping_diff > 0 %}
      <span>Just {{ free_shipping_diff | money }} away from free shipping!</span>
    {% elsif free_shipping_diff <= 0 %}
      <span>Enjoy Free Shipping!</span>
    {% endif %}
  </p>
</div>
